@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Scheherazade&display=swap');

body{
    
}
marquee{
    
    margin-top: 20px;
   
}

.link{
    text-decoration: none !important;
    color: black !important;
}
#nav-icon{
 margin-right: 650px;
 margin-top: 5px;
}
#nav-bg{
    background-color: #021859 !important;
} 
 #nav-bg li ul {
    background-color: #021859 !important;
    
}

#nav-bg li ul li a {
    color:#ffffff; 
}

#nav-icon a{
    width: 24px;
    height: 20px;
    margin: 10px;
   }

#mynav a{
 color: #ffffff;
 font-size: larger ;
 transition: 0.6s;
}
footer{
    background-color: #021859;
    display: flex;
    flex-direction: row;
}
#footer-icon{ 

   /* icons footer */

}
#footer-icon a span{
    color: #ffffff; 
    margin: 10px;
}

#mynav a:hover{
    background-color: #021859;
    border-bottom:  4px  solid #ffffff  ;
    transition: 1s;
   }

   .posts{
      
    
   }

.img-posts{
    width: 100%;
    height: 300px;
}

.details{
    font-family: 'Scheherazade', serif;
    font-size: x-large;
}

.topic-post{
    font-family: 'Jomhuria', cursive;
/* font-family: 'Scheherazade', serif; */
}

.title{
    display: inline-block
    
}
  

/*  MEDIA */
 @media only screen and (max-width: 800px) {
     #nav-bg li  ul {
    color: #021859 !important;
    background-color: #ffffff !important;
    left: -50%;

}
#nav-bg li ul li a {
    color:#0c0404;
}
#nav-bg li ul li a:hover {
    color:#ffffff;
}
#nav-icon{
    margin-right: 60% ;
    margin-top: 10%;
   }

   
#nav-bg li {
 margin-left: auto; 
}

  } 

  .height{
      height: 200px !important;
      cursor: pointer;
  }
  .height:hover {
      transform: translateY(-1px);
  }
 
  